BasedOnStyle: Google
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
SpaceAfterCStyleCast: true

